<footer class="footer">
    <div class="footer-content">
        <p>© 2025 RA&MTECH LLC. All rights reserved.</p>
        <div class="nav-links">
            <li><a href="/#home">Home</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/#services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
            <a href="https://www.linkedin.com/company/ra-mtech-llc/" target="_blank"
                rel="noopener noreferrer">LinkedIn</a>
        </div>
    </div>
</footer>